* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	-webkit-justify-content: center;
			justify-content: center;
}

body,
.time-section {
	background: #fff;
}

@font-face { 
	font-family: "Myriad  Pro";
	src: url('../fonts/MyriadPro-Regular.otf');
}


/* GENERAL*/

html,
header,
section,
.wrapper,
.menu,
.epochs,
.search,
.about,
footer {
	display: -webkit-flex;
	  display: -moz-flex;
		display: -ms-flex;
		  display: -o-flex;
			display: flex;
}

header,
section,
footer {
  -webkit-justify-content: center;
		  justify-content: center;
}

a {
	text-decoration: none;
}

.wrapper {
   max-width: 1200px;
   width: 100%;    
}

body {
  font-family: "Myriad  Pro";
}

/* fonts*/

/* END of GENERAL*/

/* HEADER*/
/* ____OLYA ____*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.header {
  justify-content: space-around;
  margin-top: 18px;
}

/* LOGO*/
.logo {
  background: url(../img/logo.png);
  width: 242px;
  height: 230px;
  background-size: cover;
} 
/* END OF LOGO*/

.menu__header {
  background-color: #fff;
  box-shadow: 2.5px 4.3px 43px rgba(0, 1, 1, 0.13);
  color: #d36260;
  height: 58px;
  margin-top: 25px;
  width: 790px;
}

.menu__item { 
  align-self: center;
  text-align: center;
  width: 87px;
}

.menu__item_help  {
  align-self: center;
  background-color: #dc8e8d;
  line-height: 57px;
  width: 268px;
}

.menu__item_help:hover {
  background: #d36462;
}

.menu__link {
  color: #d36260;
  font-family: "Myriad  Pro", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 9px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 59px;
}

.menu__link:hover {
  font-weight: bold;
}

.menu__link_help  {
  color: #fff;
  font-family: "Myriad Pro", Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 14px;
  line-height: 20px;
  width: 150px;
}

.name {
  color: #ac5251;
  font-family: Marion, Arial, sans-serif;
  /*откуда этот шрифт? где он находится локально?*/
  font-size: 25px;
  font-weight: 400;
  height: 23px;
  line-height: 24px;
  margin-left: 250px;
  position: relative;
  top: -70px;
  width: 530px;
}

/* END OF PROJECT*/

/* END OF HEADER*/
/* MAIN*/

/* _________________ epochs _________________*/
.epochs {
	background: url('../img/main_bg.png') no-repeat;
	-webkit-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	height: auto;
	padding-bottom: 100px;
}

.epochs__wrapper {
	-webkit-justify-content: space-between;
			justify-content: space-between;
	padding: 150px 100px 0;
	transition: all .5s linear;
}

.time-section {
	padding-bottom: 100px;
	transition: all .5s linear;
}

.time-section:not(.time-section--active):hover {
	transform: scale(1.2);
	padding-bottom: 73px;
}

/*.time-section:first-of-type:hover + .time-section {
	transform: scale(1);
}*/

/*.time-section:last-of-type:hover:nth-of-type(-n+4)  {
	transform: scale(1);
}*/

/*.time-section:nth-of-type(3):hover:nth-child(-n+1)  {
	transform: scale(1);
}*/
.time-section:last-of-type:hover + div[class="time-section--active"] {
	transform: scale(1);
}

.time-section:not(.time-section--active):hover .epochs__name {
	padding-bottom: 36px;
	transition: all .5s linear;
}

.time-section--active {
	transform: scale(1.2);
}

.time-section--active .epochs__name {
	padding-bottom: 36px;
}

/*.time-section--active .epochs__image {
	margin: 15px 0 -15px;
}*/

/*.time-section:hover:not(.time-section--active) > .time-section--active:not(:hover) {
  transform: scale(1);
}*/

.epochs__name {
    font-size: 20px;
    border-bottom: 1px solid #8d8d8d;
    padding: 15px 0 18px 22px;
    margin: 12px 0 24px;
    transition: all .4s linear;
}

.time-section:first-child {
	color: #d3ac26;
	border: 3px solid #d3ac26;
}

.time-section:nth-child(2) {
	color: #6e9071;
	border: 3px solid #6e9071;
}

.time-section:last-child {
	color: #5c6092;
	border: 3px solid #5c6092;
}

.epochs__bg {
	-moz-transform: scaleX(-1);
	  -o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		  transform: scaleX(-1);
	padding-bottom: 120px;    
}

.epochs__image {
	width: 229px;
	height: 165px;
	transition: all .4s linear;
}
/* _________________ end of epochs _________________*/

/* _________________ search _________________*/

.search__wrapper {
	padding: 35px 0;
	-webkit-justify-content: center;
	        justify-content: center;
}

.search__title {
	color: #cf6f6f;
	font-size: 16px;
	line-height: 24px;
}
.search__type {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	    margin-right: 25px;
}

label {
	margin: 5px 0;
}

.label-text {
	color: #505d7d;
	font-size: 16px;
	line-height: 24px;
	margin: 25px 15px;
}

.search_form {
	width: 149px;
	height: 36px;
	padding-left: 5px;
	border: none;
}

.search_form__local {
	background-color: #e5e5e5;
	background-image: url('../img/input.png');
	background-repeat: no-repeat;
	-webkit-background-size: 32px;
	     -o-background-size: 32px;
	        background-size: 32px;
}

.search_form__local--right {
	background-position: 117px 3px;
	padding-right: 32px;
}

.search_form__local--left {
	background-position: 1px 3px;
	padding-left: 32px;
}

/*search_form__global*/


.search_form__global {
	width: 340px;
	height: 58px;
	background-color: #ac5251;
	background-image: url(../img/search-observe-by-elegant-themes.png);
	background-repeat: no-repeat;
	background-position: 292px 12px;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 21px;
	letter-spacing: -2px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.visible {
	display: flex;
}

.visible:hover .search__type {
	display: visible;
}

/* _________________ end search _________________*/

/* _________________ about _________________*/
.about {
	background: url('../img/bgmap.png');
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.about__wrapper {
	margin: 50px 350px 33px;
	display: flex;
	-webkit-justify-content: space-around;
	        justify-content: space-around;
}

.about__info {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	        align-items: center;
	line-height: 24px;
}

.about__info:first-of-type {
	color: #ac5251;
	background: rgba(172, 82, 81, .63);
	border: 1px solid rgba(172, 82, 81, .63);
	width: 218px;

}

.about__info:first-of-type .about_text {
	font-size: 18px;
	padding: 30px 25px 3px;
}

.about__info:nth-of-type(2) {
	width: 230px;
	color: rgba(105, 130, 116, .63);
	background: rgba(105, 130, 116, .63);
	border: 1px solid rgba(105, 130, 116, .63);
}

.about__info:last-of-type {
	color: rgba(105, 111, 130, .63);
	background: rgba(105, 111, 130, .63);
	border: 1px solid rgba(105, 111, 130, .63);
	width: 218px;
}

.about__title {
	width: 100%;
	font-size: 18px;
	line-height: 24px;
	background: #FFF;
	padding: 33px 0 5px;
	text-align: center;
}

.about_text {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 44px;
	padding: 30px 14px 3px;
}

/* _________________ end about _________________*/

/* END OF MAIN*/
/* FOOTER*/
.footer {
  flex-direction: column;
  -webkit-flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer__menu {
  flex-direction: column;
  -webkit-flex-direction: column;
  padding-left: 70px;
  line-height: 26px;
}

.footer__menu_heading {
  font-size: 18px;
  color: #fff;
}

.footer__menu_link {
  text-decoration: none;
  color: #aaafb2;
}

.footer__menu_link:hover {
  text-decoration: underline;
}

.grey {
  display: flex;
  min-height: 245px;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 25px 0;
  background-color: #696f82;
  
}

.social {
  margin-left: 200px;
  margin-top: 100px
}

.social__link {
  margin-top: 15px;
  display: block;
  width: 25px;
  height: 25px;
  background: url(../img/social-sprite.png) 0 0 no-repeat;
}

.social__link_facebook {
  background-position: 0 -50px;
}

.social__link_instagram {
  background-position: 0 -95px;
}

.navy {
  color: #b0a6a6;
  background-color: #233362;
  padding: 20px 0;
  min-height: 30px;
  text-align: center;
}
/* END FOOTER*/