* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    -webkit-justify-content: center;
            justify-content: center;
}

body,
.menu,
.time-section {
    background: #fff;
}

@font-face { 
    font-family: "Myriad  Pro";
    src: url('../fonts/MyriadPro-Regular.otf');
}


/* GENERAL*/

html,
header,
section,
.wrapper,
.menu,
.epochs {
    display: -webkit-flex;
      display: -moz-flex;
        display: -ms-flex;
          display: -o-flex;
            display: flex;
    }


header,
section {
  -webkit-justify-content: center;
          justify-content: center;
}

a {
    text-decoration: none;
}

.wrapper {
   max-width: 1068px;
   width: 100%;    
}

body {
  width: 100vw;
  font-family: "Myriad  Pro";
}

/* fonts*/

/* END of GENERAL*/


/* HEADER*/
/* ____OLYA ____*/
/*header {
    
}*/
/* LOGO*/
/*.logo {
    display: block;
    float: left;
    background: url('../img/logo.png') no-repeat;
    width: 239px;
    height: 222px;
}*/
/* END OF LOGO*/

/* MENU*/
.menu {
  color: #d36260;
  width: 790px;
  height: 58px;
  box-shadow: 2.5px 4.3px 43px rgba(0, 1, 1, 0.13);
}

.menu a {
  color: #d36260;
/*  font-family: "Myriad  Pro", Arial, sans-serif;*/
  width: 59px;
  height: 9px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.menu a:hover {
  font-weight: bold;
}

.menu li { 
  -webkit-align-self: center;
          align-self: center;
  width: 87px;
  text-align: center;
}
/*// END OF MENU*/
/*// PROJECT*/
.help_project a {
  color: #fff;
  width: 150px;
  height: 14px;
/*  font-family: "Myriad Pro", Arial, sans-serif;*/
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

li.help_project  {
    -webkit-align-self: center;
          align-self: center;
    background-color: #dc8e8d;
    width: 268px;
    line-height: 57px;
}

li.help_project:hover {
    background: #d36462;
}

header p {
    width: 530px;
    height: 23px;
    color: #ac5251;
/*    font-family: "Myriad  Pro", Arial, sans-serif;*/
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
}

/* END OF PROJECT*/

/* END OF HEADER*/
/* MAIN*/

/* _________________ epochs _________________*/
.epochs {
    background: url('../img/main_bg.png') no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    width: 100vw;
    height: auto;
}

.epochs__wrapper {
    -webkit-justify-content: space-between;
            justify-content: space-between;
        padding: 0 100px;

}

.time-section {
    margin: 117px 0 100px;
    transition: all .4s linear;
}

.time-section:not(.time-section--active):hover {
  transform: scale(1.2);
}

.time-section:hover .epochs__image {
  margin: 15px 0 -15px;
}

.time-section--active {
  transform: scale(1.2);
}

.time-section--active .epochs__image {

  margin: 15px 0 -15px;
}

/*.time-section:hover:not(.time-section--active) > .time-section--active:not(:hover) {
  transform: scale(1);
}*/


.epochs__name {
    font-size: 20px;
    border-bottom: 1px #8d8d8d;
    padding: 15px 0 15px 26px;
    margin: 10px 0 20px;
}

.time-section:first-child {
    color: #d3ac26;
    border: 3px solid #d3ac26;
}

.time-section:nth-child(2) {
    color: #6e9071;
    border: 3px solid #6e9071;
}

.time-section:last-child {
    color: #5c6092;
    border: 3px solid #5c6092;
}

.epochs__bg {

  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding-bottom: 120px;    
}



.epochs__bg--future {
  background: url('../img/future-map.jpg') rgba(255, 255, 255, .1) no-repeat cover;
}



.epochs__image {
    width: 229px;
    height: 165px;
    opacity: 1;
    transition: all .4s linear;
}



/* _________________ end of epochs _________________*/
/* END OF MAIN*/
